html {
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
}
::selection {
  background-color: rgb(109, 250, 203);
  color: rgb(54, 53, 53);
}

p {
  color: rgba(148, 163, 184);
}

@font-face {
  font-family: "customFont";
  src: url("/assets/fonts/font .woff2");
}

body {
  background-color: rgb(15, 23, 42);
  color: rgb(221, 238, 238);
  display: block;
  font-family: "customFont", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: "ss03", "cv02", "cv11";
  height: 100px;
}

/* flash light */

/* ***************** */

/* left panel */

.left h1 {
  font-size: 50;
  margin-bottom: -20px;
  font-weight: bold;
  margin-bottom: 1px;
}

a {
  text-decoration: none;
  color: rgb(221, 238, 238);
}
a:visited {
  color: rgb(221, 238, 238);
}

/* contacts footer  */

footer {
  width: fit-content;
}

footer a {
  margin: 0 5px;
  border-radius: 10%;
  transition: 0.8s;
  padding: 2px;
}

footer img {
  width: 25px;
  height: 25px;
  margin: 10px;
  filter: invert(0.5);
  transition: 0.2s;
}
footer img:hover {
  filter: invert(1);
}
/* right div */

.right > div {
  margin: 5vh 0 10vh 0;
}

.arrow {
  height: 15px !important;
  width: 15px !important;
  filter: invert(94%) sepia(14%) saturate(141%) hue-rotate(131deg)
    brightness(96%) contrast(98%);
  transition: 0.2s;
  transform: translateY(3px);
  margin-left: 5px;
}

.contaner .item h1 {
  font-weight: 500;
  font-size: 1rem;
}
