html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
::selection {
  background-color: rgb(109, 250, 203);
  color: rgb(54, 53, 53);
}

p {
  color: rgb(172, 187, 224);
}

@font-face {
  font-family: "customFont";
  src: url("/assets/fonts/font .woff2");
}

body {
  background-color: rgb(15, 23, 42);
  color: rgb(221, 238, 238);
  display: block;
  font-family: "customFont", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: "ss03", "cv02", "cv11";
  height: 100px;
}

/* flash light */

.flash {
  pointer-events: none;
  background: radial-gradient(600px, rgba(29, 78, 216, 0.15), transparent 80%);
  width: 900px;
  height: 900px;
  border-radius: 450px;
  position: fixed;
}

/* ***************** */

/* left panel */

.left {
  /* margin: 5vh 0 0 5vw; */
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.left h1 {
  font-size: 50;
  margin-bottom: -20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgb(221, 238, 238);
}
a:visited {
  color: rgb(221, 238, 238);
}

/* side nav bar */
nav {
  display: none;
}
/* contacts footer  */
.gap {
  display: none;
}
footer {
  width: fit-content;
  margin-bottom: 60px;
}

footer a {
  margin: 0 5px;
  border-radius: 10%;
  transition: 0.8s;
  padding: 2px;
}

footer img {
  width: 25px;
  height: 25px;
  margin: 10px;
  filter: invert(0.5);
  transition: 0.2s;
}
footer img:hover {
  filter: invert(1);
}
/* right div */

.right > div {
  margin: 5vh 0 0 0;
}
.title {
  margin-left: 3vw;
  font-size: 0.9rem;
}
.right {
  margin: 5vh 10vw 0 0;
  scroll-behavior: smooth;
}

#about,
.para {
  line-height: 25px;
  font-size: 1rem;
  /* font-weight: bold; */
  margin: 30px;
  margin-left: 3vw;
  margin-bottom: 100px;
}
#about p,
para p {
  margin-bottom: 30px;
}
#about {
  width: 90vw;
}

/* contanar and items */
.contaner {
  transition: 0.4s;
  margin-top: 120px;
  width: 95vw;
}
.contaner > div {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 0 5px 5px 20px;
  transition: 0.4s;
  text-align: left;
}
.item {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto auto;
  text-align: left;
  font-size: 10;
}

.contaner .item h1 {
  font-size: 18;
}

.arrow {
  height: 15px !important;
  width: 15px !important;
  filter: invert(94%) sepia(14%) saturate(141%) hue-rotate(131deg)
    brightness(96%) contrast(98%);
  transition: 0.2s;
}

.item p {
  font-size: 14;
  line-height: 20px;
}

.contaner .item h1:hover {
  color: rgb(127, 251, 255);
}
.contaner .item h1:hover img {
  filter: invert(99%) sepia(6%) saturate(6180%) hue-rotate(81deg)
    brightness(104%) contrast(98%);
  transform: translateX(5px) translateY(-5px);
}

.item div > img {
  width: 18vw;
  height: 10vw;
  margin-top: 20px;
  margin-right: 5vw;
}
ul {
  display: flex;
  flex-direction: row;
  margin-left: -45px;
}
li {
  font-size: small;
  margin-right: 15px;
  padding: 4px;
  list-style: none;
  background-color: rgba(127, 255, 212, 0.089);
  color: aquamarine;
  border-radius: 30%;
}

#other {
  margin-left: 25px;
}
#other section {
  margin-bottom: 20px;
}
