/* flash light */

.flash {
  pointer-events: none;
  background: radial-gradient(600px, rgba(29, 78, 216, 0.15), transparent 80%);
  width: 900px;
  height: 900px;
  border-radius: 450px;
  position: fixed;
}

/* ***************** */

/* left panel */

.left {
  /* position: fixed;
  width: 45vw; */
  margin: 5vh 0 0 5vw;
  padding-left: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 45vw;
}

/* side nav bar */
nav {
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
nav > a {
  color: rgb(241, 250, 250);
  margin: 10px 7px;
  font-size: 12;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.2s;
  opacity: 0.5;
}
nav > a::before {
  content: "";
  padding-left: 40px;
  border-top: 80px;
  /* border: solid; */
  background: linear-gradient(
    rgba(255, 0, 0, 0) 40%,
    rgb(241, 250, 250, 0.75) 50%,
    rgba(255, 0, 0, 0) 60%
  );
  transition: 0.5s;
  margin-right: 10px;
}
nav > a:hover,
.active {
  color: rgb(241, 250, 250);
  opacity: 1;
}
nav > a:hover::before,
.active::before {
  padding-left: 80px;
}
/* contacts footer  */
.gap {
  flex-grow: 0.67;
}
footer {
  width: fit-content;
}

footer a {
  margin: 0 5px;
  border-radius: 10%;
  transition: 0.8s;
  padding: 2px;
}

footer img {
  width: 25px;
  height: 25px;
  margin: 10px;
  filter: invert(0.5);
  transition: 0.2s;
}
footer img:hover {
  filter: invert(1);
}
/* right div */

.right > div {
  margin: 5vh 0 10vh 0;
}

.title {
  display: none;
}

.right {
  margin: 5vh 10vw 0 0;
  scroll-behavior: smooth;
  position: absolute;
  width: 45vw;
  left: 47vw;
}

#about,
.para {
  padding-right: 75px;
  line-height: 25px;
  font-size: 1rem;
  /* font-weight: bold; */
  margin: 30px;
  margin-bottom: 100px;
  width: 40vw;
}
#about p,
para p {
  margin-bottom: 30px;
}

/* contanar and items */
.contaner {
  transition: 0.4s;
  margin-top: 120px;
}
.contaner > div {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 0 5px 5px 20px;
  transition: 0.4s;
  text-align: left;
}
.item {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto auto;
  text-align: left;
  font-size: 10;
  width: 45vw;
}

.item p {
  font-size: 15;
  line-height: 20px;
  padding-right: 75px;
}

.contaner:hover .item {
  opacity: 0.4;
}
.contaner .item:hover {
  opacity: 1;
  background-color: rgb(27, 39, 66);
}
.contaner .item:hover h1,
.resume_link:hover {
  color: #7ffbff;
}

.contaner .item:hover h1 img,
.resume_link:hover img {
  filter: invert(81%) sepia(13%) saturate(1525%) hue-rotate(153deg)
    brightness(110%) contrast(101%);
  transform: translateX(5px) translateY(-5px);
}

.contaner div > img {
  width: 9vw;
  height: 5vw;
  margin: 15px 20px 0 0;
  border-radius: 3%;
}
ul {
  display: flex;
  flex-direction: row;
  margin-left: -45px;
}
li {
  font-size: small;
  margin-right: 15px;
  padding: 4px;
  list-style: none;
  background-color: rgba(127, 255, 212, 0.089);
  color: aquamarine;
  border-radius: 30%;
}

#other {
  margin-left: 25px;
}
#other section {
  margin-bottom: 20px;
}
